# 1. Data Types

In [7]:
# This is declaring a variable as a STRING 
string_variable = 'Jeypii Learns'
print(string_variable)
type(string_variable)

Jeypii Learns

str

In [6]:
# This is declaring a variable as an Integer
integer_variable = 122319
print(integer_variable)
type(integer_variable)

122319

int

In [3]:
# This is declaring a variable as a Float
float_variable = 128.126
print(float_variable)
type(float_variable)

128.126

float

In [4]:
# This is assigning a Boolean value to a variable
bool_variable = False
print(bool_variable)
type(bool_variable)

False

bool

In [5]:
# This is creating a list variable
list_variable = ["Agoncillo", "Euclid", "Darwin", "Quisumbing", "Vesalius"]
print(list_variable)
type(list_variable)

['Agoncillo', 'Euclid', 'Darwin', 'Quisumbing', 'Vesalius']

list

In [8]:
# Create a TUPLE variable, IMMUTABLE = you can't change the values
tuple_variable = (1, 2, 3, 123.44, 85.4, 22.1, 3)
print(tuple_variable)
type(tuple_variable)

(1, 2, 3, 123.44, 85.4, 22.1, 3)

tuple

In [ ]:
# This is creating a SET variable, IMMUTABLE = you can't change the values, No DUPLICATES!
set_variable = {1, 2, 3, 123.44, 85.4, 22.1, 3}
type(set_variable)

In [ ]:
list_variable[5] = 123

In [ ]:
list_variable

In [ ]:
# Create a TUPLE variable, IMMUTABLE = you can't change the values
tuple_variable = (1, 2, 3, 123.44, 85.4, 22.1, 3)
type(tuple_variable)

In [ ]:
tuple_variable

In [ ]:
# This is creating a SET variable, IMMUTABLE = you can't change the values, No DUPLICATES!
set_variable = {1, 2, 3, 123.44, 85.4, 22.1, 3}
type(set_variable)

In [ ]:
# Type casting list to set back to list to get rid of duplicates
type(list(set(list_variable)))

In [ ]:
# Defining a dictionary variable
person_variable = {'name':"Nicholas", 'favourite_color':'red', 'favourite_number':20}
type(dict_variable)

In [ ]:
person_variable['favourite_number']

In [ ]:
fit_models = {}

In [ ]:
tuple(list_variable)

# 2. Lists

In [ ]:
# Create
names = ['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk']

In [ ]:
# Read 
names

In [ ]:
# Reading using Indexing
names[0]

In [ ]:
names[-1]

In [ ]:
len(names)

In [ ]:
# Update

In [ ]:
names[-1] = 'nicholas renotte'
names

In [ ]:
names.append('elon musk')

In [ ]:
names

In [ ]:
names.insert(0, 'richard branson')

In [ ]:
names

In [ ]:
# Delete

In [ ]:
del names[-2]

In [ ]:
names

# 3. Dictionaries

In [ ]:
# Create
astronaut = {
    "name":"elon musk", 
    "suit_size":"large", 
    "allergies":"peanuts"
}

In [ ]:
# Read

In [ ]:
astronaut

In [ ]:
astronaut['suit_size']

In [ ]:
astronaut.keys()

In [ ]:
astronaut.values()

In [ ]:
# Update

In [ ]:
astronaut['allergies'] = 'mango'

In [ ]:
astronaut

In [ ]:
astronaut['space_ship'] = 'Galactic 1'

In [ ]:
astronaut

In [ ]:
# Delete

In [ ]:
del astronaut['space_ship']

In [ ]:
astronaut