Create
Read
Update
Delete

# 1.Variables
### Variable as a placeholder
They're super useful as they allow you to define a value then 
refer to it multiple times. You can also change the value of 
variable as needed.

In [ ]:
space_name = 123456.13

In [ ]:
print(space_name)

#### space_name is a variable

# 2.Data types
1. String - words or elements that are enclosed in "". (ex. "This is a string")
2. Integer - a whole number that doesn't have a fraction or decimals. (ex. 102)
3. Float - decimal numbers (ex. 3.1416)
4. Boolean - True or False
5. List - A series of values wrapped in a squared brackets[]. They are also known as arrays.(ex.[John, Paul, Sherwin])
6. Tuples - Denoted by a series of values wrapped in parenthesis(). Tuples is immutable, its elements can't be changed.(ex.(1,2,3,4,4,5,6,2,2,2,3,3))
7. Set - Denoted by a series of values wrapped in curly brackets{}. It is also immutable, but a set does not contain duplicate values.(ex.{1,2,3,4,5,6,7,8})
8. Dictionaries - has keys and values (ex.{
'Name':'John Paul'
}

In [ ]:
type(space_name) # Type function defines the data type of a variable.

In [ ]:
# Declaring a variable as a STRING
string_variable = 'Pluto'
print(string_variable)
print(type(string_variable))

In [ ]:
# Declaring a variable as a INTEGER
int_variable = '143'
print(int_variable)
print(type(int_variable))

In [ ]:
# Declaring a variable as a BOOLEAN
bool_variable = True
print(bool_variable)
print(type(bool_variable))

In [ ]:
# Declaring a variable as a float
float_variable = 3.1416
print(float_variable)
print(type(float_variable))

In [ ]:
# Declaring a variable as a list
cities = ['New York', 'California', 'Manila', 'Singapore', 'Tokyo']

In [ ]:
# Counting the number of elements inside a list
print(len(cities))

In [ ]:
# Printing a specific element of a list (Remember : Index counting starts at 0)
print(cities[1])
print(cities[0])
print(cities[2])

In [ ]:
# Getting the index of an element within the list
city_index = cities.index('Manila')
print(city_index)

In [ ]:
# Changing an element inside a list
subjects = ['Electronics', 'Mathematics', 'English', 'Science']
subjects[2] = 'Language'
print(subjects)

#### Experiment

In [ ]:
students_name = ['John Paul', 'Faith', 'Joy', 'Jeson', 'Gabriel', 'Dayron', 'Roshca', 'Lizette', 'Adrian', 'Istine']

def find_index_name(list_names, student_name):
    for name in list_names:
        if student_name == name:
            return list_names.index(student_name)

def change_name(list_names, index, new_name):
    list_names[index] = new_name
    
def count_students(list_names):
    number_of_students = len(list_names)
    return number_of_students
    
    
username = input('Enter your current username: ').title()
index = find_index_name(students_name, username)
print(f'Index : {index}')
new_name = input('Enter your desired new username: ').title()
change_name(students_name, index, new_name)
print(students_name)
print(f'Total students : {count_students(students_name)} students')

In [ ]:
tuple_variable = (1,2,3,4,5,6,7,8)
print(tuple_variable)
print(type(tuple_variable))

In [ ]:
# SET variable
set_variable = {1,2,3,4,5,6,7,8,8,8}
print(type(set_variable))
print(set_variable)


list = list(set_variable)
print(list)

In [ ]:
# Converting list to set, and return it into list again (This method will remove duplicates)
numbers = [1,2,2,2,3,3,3,4,5,6,7,8,9,9,9,9,9,9,10,1]
print(numbers)
numbers_set = set(numbers)
print(numbers_set)
numbers_list = list(numbers_set)
print(numbers_list)

# Shortcut
print((list(set(numbers))))

In [ ]:
# Defining a dictionary variable
dict_variable = [{'Name': 'John Paul M. Curada', 'Age': 16, 'Goal': 'To be a data scientist'},
                 {'Name': 'Sherwin Gabriel B. Rodenas', 'Age': 15, 'Goal': 'To be a software engineer'},
                 {'Name': 'Romnel Jesuron B. Burnot', 'Age': 16, 'Goal': 'To be a pediatrician'}]


def is_user_included(dict_variable, username):
    """Return TRUE if username is included in list, otherwise return NONE"""
    for dict_list in dict_variable:
        if not dict_list['Name'] == username:
            pass
        elif dict_list['Name'] == username:
            return True
    

is_running = True

while is_running:
    username = input('Enter your username: ').title()
    is_included = is_user_included(dict_variable, username)
    if username == 'Stop':
        is_running = False
    elif is_included:
        print('You may now access your account.')
    else:
        print("You don't have an account.")

# 3. LIST

In [ ]:
# Create
students_list = ['John Paul', 'Jeson', 'Jessa', 'Jenny', 'Mark', 'MJ', 'Marilyn', 'Jojo', 'Joy', 'Chie']

In [ ]:
# Read
students_list[0] # Index counting starts at 0
students_list[-1] # Reverse index counting starts at -1

print(f"{students_list[0]}, {students_list[-1]}, {students_list[1]}")
print(len(students_list))

In [ ]:
# Update
students_list[0] = 'JP' # changing an element inside a list
print(students_list)

students_list.append('Rhon') # adding elements in list(placing a new element on last index)
print(students_list)

students_list.insert(0, 'Gabriel') # adding elements in list with specific index(placement)
print(students_list)

print(students_list.index('Jessa')) # getting the index of an element inside a list

print(students_list.count('JP')) # counting elements duplicates inside a list 

extend_students_list = ['Benedicto','JM','Nica','Alfredo','Baetrix']
students_list.extend(extend_students_list)
print(students_list)
# adding a list in a list, the placement is on the last index

In [ ]:
# Delete
del students_list[0]
print(students_list)

# 4.Dictionaries

In [ ]:
# create
students = {
    'Name': 'John Paul M. Curada',
    'Age': 16,
    'Birthdate': 'October 02, 2004',
    'Email': 'jpcurada167@gmail.com'
}

In [ ]:
# Read
print(students['Name'])
print(students.keys())
print(students.values())
print(students.items())

In [ ]:
# Update
students['Email'] = 'jpcurada010@gmail.com' # changing a value of a key inside a dictionary (will automaticaloly read  if change or add)
students['Dream'] = 'To contribute greatly in society by means of data and leadership.' # adding a key and a value inside a list
print(students)

In [ ]:
# Delete
del students['Birthdate']
print(students)

# 5.Conditions and Logic

In [ ]:
students_list = ['John Paul', 'Jeson', 'Jessa', 'Jenny', 'Mark', 'MJ', 'Marilyn', 'Jojo', 'Joy', 'Chie']
if 'John Paul' in students_list:
    print('Hello Jp!')
elif not 'John Paul' in students_list:
    print('John Paul is not here.')
else:
    print('Buzz off!')

# 6.Loops

In [ ]:
# for loops
"""A for loops allows us to iterate over a sequence like values in a list or a range. 
We'll use them all the time for repeating processes but praticularly for working with lists."""
students_list = ['John Paul', 'Jeson', 'Jessa', 'Jenny', 'Mark', 'MJ', 'Marilyn', 'Jojo', 'Joy', 'Chie']
for student in students_list:
    if student == 'John Paul':
        print('Hi sir JP!')
        continue # next value in a loop
    elif student == 'Mark':
        print('Hey Mark!')
        break # stopping a loop if condition is met
    else:
        print(f'Good day {student}!')
    # not part of conditions    
    print('Please to have you here!\n')

In [ ]:
for idx in range(1,11):
    print(idx)

In [ ]:
# While loops
shuttles = ['Shuttle Alpha', 'Shuttle Beta', 'Shuttle Charlie', 'Shuttle Delta', 'Shuttle Echo']
launched_shuttles = 0
total_shuttles = 5
idx = 0

while True:
    print(f"{shuttles[idx]} launched")
    idx += 1
    launched_shuttles += 1
    if launched_shuttles == total_shuttles:
        print('All shuttles had been launched.')
        break

In [2]:
# Looping with dictionaries
astronaut = {
    'Name':'Elon Musk',
    'suit_size':'Medium',
    'allergies':'Peanut'
}

In [ ]:
# loop through keys in a dictionary
for key in astronaut.keys():
    if key == 'Name':
        print(astronaut[key])
    print(key)

In [ ]:
# loop through values in a dictionary
for value in astronaut.values():
    print(value)

In [3]:
# loop through keys and values at the same time
print(astronaut.items())
for key, value in astronaut.items():
    print(key)
    print(value, '\n')

dict_items([('Name', 'Elon Musk'), ('suit_size', 'Medium'), ('allergies', 'Peanut')])
Name
Elon Musk

suit_size
Medium

allergies
Peanut

# 7.List Comprehension

In [ ]:
names = ['JoHN PAul', 'FaITh', 'GaBRIel', 'JEson']
new_list = [name.title() for name in names]

In [ ]:
new_list

# 8.Functions
allows to do something repeatedly inside of a set or block
Wrapping processes in functions makes our code modular and reduces repetition

In [1]:
# Defining a function in python
def launchpad_welcome():
    print('Hello!')

In [3]:
launchpad_welcome()

Hello!

In [4]:
for idx in range(10):
    launchpad_welcome()

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

In [12]:
students_list = ['John Paul', 'Jeson', 'Jessa', 'Jenny', 'Mark', 'MJ', 'Marilyn', 'Jojo', 'Joy', 'Chie']

In [19]:
# Single positional argument
def custom_welcome(name):
    print(f"Welcome {name}") # F string or format string

In [ ]:
for name in students_list:
    custom_welcome(name)

In [ ]:
# Multiple positional argument

In [14]:
for idx, name in enumerate(students_list):
    ship = 
    custom_welcome_to_ship(name, )

1 John Paul
2 Jeson
3 Jessa
4 Jenny
5 Mark
6 MJ
7 Marilyn
8 Jojo
9 Joy
10 Chie